div{
    background-color: rgb(0, 124, 124);
    height: 300px;
    width: 950px;
    margin: 20px;
    padding-top: 10px;
    text-align: center;
}
h1{
    margin-top: 100px;
    color: antiquewhite;
    justify-content: center;
}
.texto1{
    background-color: blueviolet;
}

nav{
    background-color: tomato;
    display: flex;
    justify-content: center;

}
h2{
    padding-inline: 100px;
    
}
header{
}
.container{
    width: 97%;
    height: 100%;
    background-color: rgb(199, 199, 199);
    display: flex;
}

@media (max-width: 1524px){
    .container{
        display: inline-table;
        width: 95%;
    }
    div{
        width: 95%;
        background-color: rgb(6, 76, 173);
        padding-right: 10px;
    }
    nav{
        width: 100%;
        display: inline-flex;
        background-color: rgb(243, 194, 0);
    }
    h2{
        padding-inline: 10px;
        color: beige;
    }
}

@media (max-width: 560px){
    .container{
        display: inline-block;
        width: 88%;
    }
    div{
        width: 89%;
        background-color: rgb(27, 112, 5);
        padding-right: 10px;
    }
    nav{
        width: 100%;
        display: inline-flex;
        background-color: rgb(109, 3, 47);
    }
    h2{
        padding-inline: 10px;
        color: beige;
    }
    
}
